config:
  sign:
    min-username-length: ${MIN_USERNAME_LENGTH}
    max-username-length: ${MAX_USERNAME_LENGTH}
    min-password-length: ${MIN_PASSWORD_LENGTH}
    max-password-length: ${MAX_PASSWORD_LENGTH}
    max-attempts: ${MAX_ATTEMPTS}
    lockout-minutes: ${LOCKOUT_MINUTES}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  jwt-secret: ${JWT_SECRET}
  jwt-expiration-ms: ${JWT_EXPIRATION_MS}