spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

jwt:
  jwt-secret: ${SPRING_JWT_SECRET}
  jwt-expiration-ms: ${SPRING_JWT_EXPIRATION_MS}

config:
  sign:
    min-username-length: ${SPRING_MIN_USERNAME_LENGTH}
    max-username-length: ${SPRING_MAX_USERNAME_LENGTH}
    min-password-length: ${SPRING_MIN_PASSWORD_LENGTH}
    max-password-length: ${SPRING_MAX_PASSWORD_LENGTH}
    max-attempts: ${SPRING_MAX_ATTEMPTS}
    lockout-minutes: ${SPRING_LOCKOUT_MINUTES}