app:
  frontend-url: ${APP_FRONTEND_URL}
  max-requests-per-minutes: ${APP_MAX_REQUESTS_PER_MINUTES}

  sign:
    min-username-length: ${APP_MIN_USERNAME_LENGTH}
    max-username-length: ${APP_MAX_USERNAME_LENGTH}
    min-password-length: ${APP_MIN_PASSWORD_LENGTH}
    max-password-length: ${APP_MAX_PASSWORD_LENGTH}
    max-attempts: ${APP_MAX_ATTEMPTS}
    lockout-minutes: ${APP_LOCKOUT_MINUTES}

  password-recovery:
    token-expiration-minutes: ${APP_TOKEN_EXPIRATION_MINUTES}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

jwt:
  jwt-secret: ${SPRING_JWT_SECRET}
  jwt-expiration-ms: ${SPRING_JWT_EXPIRATION_MS}

